#########################################
# Application
#########################################
APP_NAME="Usergems"
APP_ENV="local"
APP_KEY=base64:dP6MkIcrZWEK/fFCfmxvKwLV7gMrF47fJ9VLpk4eRLw=
APP_DEBUG=true
APP_LOG_LEVEL="debug"
APP_URL="usergems.local"

#########################################
# Cache
#########################################
CACHE_DRIVER="array"

#########################################
# Databases
#########################################
DB_PORT="3307"
DB_DATABASE="usergems"
DATA_DIR="./storage/data"
ROOT_PASSWORD=root

#########################################
# Filesystem
#########################################
FILESYSTEM_DISK="local"
FILESYSTEM_DRIVER=local

#########################################
# Log
#########################################
LOG_CHANNEL="single"
BROADCAST_DRIVER=log

#########################################
# Mailing
#########################################
MAIL_MAILER="log"

#########################################
# Queue
#########################################
QUEUE_CONNECTION="sync"

#########################################
# Session Driver
#########################################
SESSION_DRIVER="array"

#########################################
# Docker
#########################################
# Label of the service. Must be lower case, must not contain spaces.
SERVICE_NAME=usergems

#########################################
# Calendar API
#########################################
CALENDAR_API_URL=
CALENDAR_API_TOKEN=
#########################################
# Person Data API
#########################################
PERSON_DATA_API_URL=
PERSON_DATA_API_TOKEN=
